body{
  background-image: url(img/110215.jpg);
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  margin-top: 20%;
}

#meuForm {
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  color: white;
  background-color:black;
  gap: 5px;
  }

  h1 {
    color: white;
    font-size: 45px;
  }

  p{
    margin: 0 auto; /* Centraliza horizontalmente */
    font-size: 20px;
    color: white;
    border: 1px solid black;
    background-color: black;
    width: 1120px;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 768px) {
  /* Estilos para telas com largura máxima de 768px */
  #meuForm {
    margin: 0 auto; /* Centraliza horizontalmente */
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  body {
    margin-top: 50%;
  }
}